method3
method3_A8
presentation_stable
presentation_unstable
presentation_manifold
A4_hetclin
comparison_orbit_neither
comparison_orbit_top
manifold_top
manifold_neither
A_14_intersection
A_5_intersection
A5_intersection
A_14
Lin_125
Lin_3
Lin_6
MMO_piece
MMO_zoom
almost_hetclin
animation
animation_eps
biggest_piece
crap_data
paper_manifold
unstable
singular
