method3
method3_A8
presentation_stable
presentation_unstable
presentation_manifold
A4_hetclin
comparison_orbit_neither
comparison_orbit_top
manifold_top
manifold_neither
A_14_intersection
A_5_intersection
A5_intersection
A_14
Lin_125
Lin_3
Lin_6
MMO_piece
MMO_zoom
almost_hetclin
animation
animation_eps
biggest_piece
crap_data
paper_manifold
unstable
singular
singular_left
singular_right
full_system_hetclin_B_75_intersection/
full_system_hetclin_B_8_intersection/
hetclin_complex_conjugate/
hetclin_real/
B_62/
B_Lin_section_tangency_code/
UZR_pts.rtf
almost_hetclin2/
almost_hetclin_bottom/
almost_hetclin_top/
biggest_piece2/
B_08_smooth
