.DS_store
moov_it_up
moov_it_down
to_matlab.py
bldp
blip
bottom_manifold
bottom_time
close
close_orbits
concatenation
decr_70
decr_71
incr_70
incr_71
new_data
orbits_unprocessed
superclose
tldp
tlip
to_splice
top_manifold
*.eps
*.fig
*.png
*.txt
*.pdf
s.*
b.*
d.*
*.m
*.m~
fort.7
fort.8
fort.9
hetclin.exe
hetclin.o
../.DS_Store
../bifurcation_diagram_pieces/
method_2/surf_down/
method_2/surf_up/
method_3/close_step/
method_3/surf_down/
method_3/surf_up/
plot_methods/
lkj
