singular_left
singular_right
trajectory_at_fold
MMO_NPR_10
MMO_NPR_100
MMO_singular_left
MMO_singular_right
MMOs_bit_I_forgot
animation
full_system_hetclin_B_75_intersection
full_system_hetclin_B_8_intersection
MMOs
hetclin_real/
saddle_unstable_singular
singular_POs/
hetclin_complex_conjugate
